#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.exercise-card {
  border: 2px solid black;
  
}

.workoutPlan-card {
  border: 2px solid black;
  
}

/* Header.jsx */
  .header-container {
    
  }
  
  .header-title {
    font-size: 60px;
    font-weight: 900;
    font-family: "Montagu Slab", serif;
    font-optical-sizing: auto;
    margin: 5px auto;
    margin-top: 0;
    color: #4676bf;
  }
  .header-list {
    border: 3px solid #4676bf;
    outline: 2px solid black;
    padding: 10px;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    background-color: lightgray;
  }
  .header-links {
    display: inline-block;
    padding: 5px;
    color: #4676bf;
    text-decoration: none;
    font-family: "Alfa Slab One", serif;
  }
  .header-links:hover {
    color: darkblue;
  }

/* Header.jsx */

/* HomePage.jsx ||May need to add ID/classNames|| */
  .homepage-container {}
  .user-info {}

/* HomePage.jsx */


/* LoginPage.jsx ||May need to add ID/classNames|| */
  .login-container {
    border: 4px solid lightgray;
    outline: 3px solid black;
    padding: 25px;
    background-color: #4676bf;
    border-radius: 8px;
  }
  #login-title {
    font-family: "Montagu Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 36px;
    font-weight: 500;
    text-shadow: 0 0 10px black;
    margin-bottom: 10px;
    color: white;
    
  }
  #login-form {
    display: flex;
    justify-content: space-between;
    padding: 5px;

  }
  #username-input {
    width: 50%;
    border: 2px solid black;
    padding: 3px;
    margin: 2px;
  }
  #password-input {
    width: 30%;
    border: 2px solid black;
    padding: 3px;
    margin: 2px;
  }
  #login-button {
    width: 20%;
    border: 2px solid black;
    background-color: lightgray;
    margin: 2px;
    padding: 3px;
  }
  #logout-button {
    width: 25%;
    padding: 3px;
    margin: 2px;
    margin-top: 10px;
    border: 2px solid black;
    background-color: lightgray;
  }
  #createAccount-button {
    width: 25%;
    padding: 3px;
    margin: 2px;
    margin-top: 10px;
    border: 2px solid black;
    background-color: lightgray;
  }
/* LoginPage.jsx */


/* ProfilePage.jsx ||May have duplicates with ExerciseList.jsx|| */
  .workoutPlan-list {} 
  .workoutPlan-card {}
  .workoutPlan-name {}
  .workoutPlan-name-details {}
  .workoutPlan-exerciseList {}
  .workoutPlan-description {}
  .workoutPlan-description-details {}

/* ProfilePage.jsx */


/* CreateAccount.jsx ||NEED TO ADD ID/classNames|| */

/* CreateAccount.jsx */


/* ExercisePage.jsx ||NEED TO ADD ID/classNames|| */

/* ExercisePage.jsx */


/* WorkoutPlanPage.jsx ||NEED TO ADD ID/classNames|| */

/* WorkoutPlanPage.jsx */


/* ExerciseList.jsx ||May have duplicates with ProfilePage.jsx|| */
  .exercise-list {}
  .exercise-card {}
  .exercise-name {}
  .exercise-name-details {}
  .exercise-reps {}
  .exercise-reps-details {}
  .exercise-sets {}
  .exercise-sets-details {}
  .exercise-weight {}
  .exercise-weight-details {}
  .exercise-videoLink {}
  .exercise-videoLink-details {}

/* ExerciseList.jsx */


/* WorkoutPlanList.jsx */
  .workoutPlan-list {}
  .workoutPlan-card {}
  .workoutPlan-name {}
  .workoutPlan-name-details {}
  .workoutPlan-exerciseList {}
  .workoutPlan-description {}
  .workoutPlan-description-details {}
  
/* WorkoutPlanList.jsx */